.info-container{
    display:flex;
    flex-direction: row;
    height: 500px;
  
  }


.app-container{
    background-color: rgba(0,0,0,0)

}
.frontImg{

    width:100%;
    height: 100%;
   

}

h1{
    font-size: 70px;
    color: white;

}

h3{
    color: white;
}

#title2{
    /* position: absolute; */
    z-index: 99;
    width:400px;
    height: 200px;
    margin-left: 15%;
    /* margin-left: 400px; */
    margin-top: 50px;
}
.rating-container{
    /* background-color:saddlebrown; */
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;

}


.imdb-logo{
    z-index: 99;
    width:50px;
    height: 25px;
    background-color: blueviolet;
    margin-right: 30px;
    /* position: absolute; */
}


#headerImageFront{
    /* height: 100%; */
    width: 1000px;
    height: 500px;
    position: absolute;
    /* position: relative; */
    left:0px;
    z-index: 1;

}

.synopsis{
    z-index: 20;
    color: lightgray;
    padding: 0 30px;
    font-weight: 700;
    font-size: 22px;
    opacity: .8;
}

.text{
    width: 400px;
    /* background-color: green; */
    margin-left: 10%;
}

.bigImg{
    position: absolute;

    z-index:-1;
    max-height: 1000px;
    max-width: 750px;

    min-width: 600px;
    margin-left: 400px;
    
    animation-iteration-count: infinite;
  }

  #backButtonImg{
      position: absolute;
      width: 100px;
      height: 50px;
  }

  .background{
      z-index: 0;
  }

  
 .text{
     z-index: 4;
 }

 .back-button{
     z-index:5;
 }