

.home-container{
    display:flex;
    flex-direction: row;
    height: 500px;
    opacity: 1;
    animation: fadeIn 1s ease-in-out forwards;
    -webkit-animation: fadeIn 1s ease-in-out forwards;
  }

  @keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
  }


  @media (max-width:420px){

.home-container{
  flex-direction: column;
  height: 50%;
  background-color: black;
  width: 100%;
}


  }