

h2{
    color: white;
    z-index: 20;
    font-size: 40px;
    opacity: 1;
    text-shadow: #000000 3px 5px 2px, 2px 2px 2px rgba(58,158,206,0);

}


.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* position: absolute; */
    z-index: 15;
    top:0px;
    margin: 0px 80px;
   
    /* background-color: red; */

}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 350px;
}

.search-box{
    width: 400px;
    margin: 0 30px;
    height: 30px;
    background-color: transparent;
    border-width: 0;
    text-align: center;
    border-bottom: 2px solid;
    border-color: whitesmoke;
    color: #ffffff;
    font-size: 22px;
    text-shadow: 2px 2px 2px #000000;
    border-radius: 0px;

}

option{
    text-align: center;
}

::placeholder{
    color:white;
    font-size: 20PX;
    font-weight: 700;
    opacity: .7;
    text-shadow: #000000 3px 5px 2px, 2px 2px 2px rgba(58,158,206,0);
    text-align: center;

}

.button-container{
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    
}

.search-button {
	-moz-box-shadow: 0px 10px 14px -7px #2d3233;
	-webkit-box-shadow: 0px 10px 14px -7px #2d3233;
	box-shadow: 0px 10px 14px -7px #2d3233;
	background-color:#cd2929;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
    display:inline-block;
    margin: 0 30px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:3px 32px;
	text-decoration:none;
    text-shadow:-1px 3px 0px #07090a;
    text-align: center;
}
.search-button:hover {
    background-color:#e6575f;
  
}
.search-button:active {
	position:relative;
	top:1px;
}

.search-button2{
    text-decoration:none;
    text-shadow:-1px 3px 0px #07090a;
    text-align: center;
}
.search-button2:hover {
    background-color:#e6575f;
    cursor:pointer;
    -moz-border-radius:8px;
	-webkit-border-radius:8px;
    border-radius:8px;
    animation: fadeButton .3s ease-in-out;
    -webkit-animation: fadeButton .3s ease-in-out;

}
h1{
    text-shadow: #000000 3px 5px 2px, 2px 2px 2px rgba(58,158,206,0);
}

h1:hover{
    color:rgb(232, 45, 45);
}

label{
    color:white;
    font-weight: 700;
    margin: 10px;
}

@media(max-width:420px){

.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  z-index: 15;
  margin: 0px 0px;
 /* background-color: blue; */

}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.search-box{
  width: 80%;
  margin: 10px 0px;
  height: 30px;
  background-color: transparent;
  border-width: 0;
  text-align: center;
  border-bottom: 2px solid;
  border-color: whitesmoke;
  color: #ffffff;
  font-size: 22px;
  text-shadow: 2px 2px 2px #000000;
  border-radius: 0px;

}

.button-container{
    height: 100px;
    width: 60vw;
}

.search-button {
	-moz-box-shadow: 0px 10px 14px -7px #2d3233;
	-webkit-box-shadow: 0px 10px 14px -7px #2d3233;
	box-shadow: 0px 10px 14px -7px #2d3233;
    background-color:blue;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
    width: 100%;
    margin: 0 30px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:3px 32px;
	text-decoration:none;
    text-shadow:-1px 3px 0px #07090a;
    text-align: center;
}

.find-movies-text{
    opacity: 1;
    font-size: 40px;
    color: white;
    z-index: 111;
}

}

@keyframes fadeButton{
    0%{opacity: 0}
    100%{opacity:1}
}